<footer id="footer" class="footer">
    <div class="copyright">
        &copy; @DateTime.Now.Year Copyright <strong><span>StockManagement</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
         Designed by <a href="#">BootstrapMade</a>
    </div>
</footer>