@model Category
@{
    ViewData["Title"] = "Update Categorie";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="pagetitle">
    <h1>Category</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active">Update Categorie</li>
        </ol>
    </nav>
</div>
<h1 class="text-center">
    <i class="bi bi-tags"></i>
    Update Categorie
</h1>

<form id="categoryForm2" asp-action="UpdateCategorie" method="post">
    @Html.HiddenFor(model => model.Id) <!-- ID'yi gizli olarak gönderir -->

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryName, "Category Name")
        @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control", placeholder = "Enter category name" })
        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
    </div>
    <br />
    <button type="submit" class="btn btn-outline-primary">
        <i class="bi bi-check-circle"></i> Update
    </button>
</form>

