<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="index.html">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-heading">Stock Management</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="products.html">
                <i class="bi bi-box-seam"></i>
                <span>Products</span>
            </a>
        </li><!-- End Products Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="categories.html">
                <i class="bi bi-tags"></i>
                <span>Categories</span>
            </a>
        </li><!-- End Categories Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="warehouses.html">
                <i class="bi bi-building"></i>
                <span>Warehouses</span>
            </a>
        </li><!-- End Warehouses Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="suppliers.html">
                <i class="bi bi-people"></i>
                <span>Suppliers</span>
            </a>
        </li><!-- End Suppliers Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="stock-movements.html">
                <i class="bi bi-arrows-move"></i>
                <span>Stock Movements</span>
            </a>
        </li><!-- End Stock Movements Nav -->

        <li class="nav-heading">User Management</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users.html">
                <i class="bi bi-person"></i>
                <span>Users</span>
            </a>
        </li><!-- End Users Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="roles.html">
                <i class="bi bi-shield-lock"></i>
                <span>Roles</span>
            </a>
        </li><!-- End Roles Nav -->

        <li class="nav-heading">General Pages</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-contact.html">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-register.html">
                <i class="bi bi-card-list"></i>
                <span>Register</span>
            </a>
        </li><!-- End Register Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-login.html">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Login</span>
            </a>
        </li><!-- End Login Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="logout.html">
                <i class="bi bi-box-arrow-left"></i>
                <span>Çıkış Yap</span>
            </a>
        </li><!-- End Logout Nav -->

    </ul>

</aside>
